<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search index</title>
</head>
<body>
<main>
    <div>

        <div>
            <h3>What did you want to search?</h3>
            <form th:action="@{/search}" method="post">
                    <div>
                        <p>Search Options</p>
                        <select id="search-params" name="search-params">
                            <option value="2">Organization Title</option>
                            <option value="1">Event Title</option>
                        </select>
                    </div>
                    <div>
                        <input id="query" name="query" type="text" />
                        <label for="query">Query</label>
                    </div>
                <button type="submit" value="submit">Search</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>