<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer Create an Organization</title>
    <link th:replace="partials/header.html :: header"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link th:replace="partials/header.html :: header"/>
</head>

<style>

    body {
        background-image: url('../img/hands.jpeg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .w3-card-4{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        margin-top: 25px;
    }

</style>

<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="container">

    <div class="w3-card-4 w3-margin-center w3-round-xlarge">
        <div class="w3-center w3-green w3-border">
            <h2>Create An Organization</h2>
        </div>

        <form class="w3-center container w3-white w3-border" action="/organization/create" th:action="@{/organization/create}" method="post" th:object="${organization}">
            <div class="form-group"><b>
                <label class="w3-text-green" for="orgName"><b>Organization Name</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="Organization Name" id="orgName" th:field="*{orgName}">
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('orgName')}" th:errors="*{orgName}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="address"><b>Address</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="Address" id="address" th:field="*{address}" />
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="city"><b>City</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="City" id="city" th:field="*{city}">
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="state"><b>State</b></label>
                <br>
                <select width="25" class="w3-input w3-border w3-sand" id="state" th:field="*{state}">
                    <option value="al">AL</option>
                    <option value="ak">AK</option>
                    <option value="az">AZ</option>
                    <option value="ar">AR</option>
                    <option value="ca">CA</option>
                    <option value="co">CO</option>
                    <option value="ct">CT</option>
                    <option value="de">DE</option>
                    <option value="fl">FL</option>
                    <option value="ga">GA</option>
                    <option value="hi">HI</option>
                    <option value="id">ID</option>
                    <option value="il">IL</option>
                    <option value="in">IN</option>
                    <option value="ia">IA</option>
                    <option value="ks">KS</option>
                    <option value="ky">KY</option>
                    <option value="la">LA</option>
                    <option value="me">ME</option>
                    <option value="md">MD</option>
                    <option value="ma">MA</option>
                    <option value="mi">MI</option>
                    <option value="mn">MN</option>
                    <option value="ms">MS</option>
                    <option value="mo">MO</option>
                    <option value="mt">MT</option>
                    <option value="ne">NE</option>
                    <option value="nv">NV</option>
                    <option value="nh">NH</option>
                    <option value="nj">NJ</option>
                    <option value="nm">NM</option>
                    <option value="ny">NY</option>
                    <option value="nc">NC</option>
                    <option value="nd">ND</option>
                    <option value="oh">OH</option>
                    <option value="ok">OK</option>
                    <option value="or">OR</option>
                    <option value="pa">PA</option>
                    <option value="ri">RI</option>
                    <option value="sc">SC</option>
                    <option value="sd">SD</option>
                    <option value="tn">TN</option>
                    <option value="tx">TX</option>
                    <option value="ut">UT</option>
                    <option value="vt">VT</option>
                    <option value="va">VA</option>
                    <option value="wa">WA</option>
                    <option value="wv">WV</option>
                    <option value="wi">WI</option>
                    <option value="wy">WY</option>
                </select>
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="zip"><b>Zip</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="Zip" id="zip" th:field="*{zip}">
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="phone"><b>Phone</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="Phone" id="phone" th:field="*{phone}" />
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>

            <div class="form-group">
                <label class="w3-text-green" for="email"><b>Email</b></label>
                <input width="25" class="w3-input w3-border w3-sand" placeholder="Email" th:type="email" id="email" th:field="*{email}" />
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <p>
            <button class="w3-btn w3-green" type="submit" name="sendCreate">Create</button>
            </p>
        </form>
    </div>
</div>


</body>
</html>