<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head><title>Top-Teer Edit an Organization</title>
        <link th:replace="partials/header.html :: header"/>
    </head>

    <body class="profileBody">

        <nav th:replace="partials/navbar.html :: navbar"></nav>
        <div class="wrapper">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="modalHeader">Search for Organizations and Events</h2>
                        <span class="close">&times;</span>
                    </div>
                    <form th:action="@{/search}" method="post">
                        <div class="d-flex align-items-center b-0">
                            <label for="search-params"></label><select class="nosir" id="search-params" name="search-params">
                            <option value="2">Organizations</option>
                            <option value="1">Events</option>
                        </select>
                            <label for="query"></label><input class="nosir mx-2" id="query" name="query" type="text"
                                                              placeholder="Search"/>
                            <button class="btn-hover color-9 m-0" type="submit" value="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <main class="container">

            <div class="w3-card-4 w3-margin-center w3-round-xlarge">
                <div class="w3-center w3-green w3-border">
                    <h2>Edit Your Organization</h2>
                </div>
<!--                Edit org form-->
                <form class="w3-center container w3-white w3-border" id="register-form" th:action="@{/organization/edit}" method="post" th:object="${orgs}">

                    <div class="form-group">
                        <label class="w3-text-green" for="orgName"><b>Organization Name</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="orgName" th:field="*{orgName}" th:value="${orgs.orgName}" disabled>
                    </div>

                    <div class="form-group">
                        <label class="w3-text-green" for="address"><b>Address</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="address" th:field="*{address}" th:value="${orgs.address}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-green" for="city"><b>City</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="city" th:field="*{city}" th:value="${orgs.city}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-green" for="state"><b>State</b></label>
                        <select width="25" class="w3-input w3-border w3-sand" id="state" name="state" th:field="*{state}" disabled>-->
                            <option value="al" th:selected="${orgs.state =='AL'}">AL</option>
                            <option value="ak" th:selected="${orgs.state =='AK'}">AK</option>
                            <option value="az" th:selected="${orgs.state =='AZ'}">AZ</option>
                            <option value="ar" th:selected="${orgs.state =='AR'}">AR</option>
                            <option value="ca" th:selected="${orgs.state =='CA'}">CA</option>
                            <option value="co" th:selected="${orgs.state =='CO'}">CO</option>
                            <option value="ct" th:selected="${orgs.state =='CT'}">CT</option>
                            <option value="de" th:selected="${orgs.state =='DE'}">DE</option>
                            <option value="fl" th:selected="${orgs.state =='FL'}">FL</option>
                            <option value="ga" th:selected="${orgs.state =='GA'}">GA</option>
                            <option value="hi" th:selected="${orgs.state =='HI'}">HI</option>
                            <option value="id" th:selected="${orgs.state =='ID'}">ID</option>
                            <option value="il" th:selected="${orgs.state =='IL'}">IL</option>
                            <option value="in" th:selected="${orgs.state =='IN'}">IN</option>
                            <option value="ia" th:selected="${orgs.state =='IA'}">IA</option>
                            <option value="ks" th:selected="${orgs.state =='KS'}">KS</option>
                            <option value="ky" th:selected="${orgs.state =='KY'}">KY</option>
                            <option value="la" th:selected="${orgs.state =='LA'}">LA</option>
                            <option value="me" th:selected="${orgs.state =='ME'}">ME</option>
                            <option value="md" th:selected="${orgs.state =='MD'}">MD</option>
                            <option value="ma" th:selected="${orgs.state =='MA'}">MA</option>
                            <option value="mi" th:selected="${orgs.state =='MI'}">MI</option>
                            <option value="mn" th:selected="${orgs.state =='MN'}">MN</option>
                            <option value="ms" th:selected="${orgs.state =='MS'}">MS</option>
                            <option value="mo" th:selected="${orgs.state =='MO'}">MO</option>
                            <option value="mt" th:selected="${orgs.state =='MT'}">MT</option>
                            <option value="ne" th:selected="${orgs.state =='NE'}">NE</option>
                            <option value="nv" th:selected="${orgs.state =='NV'}">NV</option>
                            <option value="nh" th:selected="${orgs.state =='NH'}">NH</option>
                            <option value="nj" th:selected="${orgs.state =='NJ'}">NJ</option>
                            <option value="nm" th:selected="${orgs.state =='NM'}">NM</option>
                            <option value="ny" th:selected="${orgs.state =='NY'}">NY</option>
                            <option value="nc" th:selected="${orgs.state =='NC'}">NC</option>
                            <option value="nd" th:selected="${orgs.state =='ND'}">ND</option>
                            <option value="oh" th:selected="${orgs.state =='OH'}">OH</option>
                            <option value="ok" th:selected="${orgs.state =='OK'}">OK</option>
                            <option value="or" th:selected="${orgs.state =='OR'}">OR</option>
                            <option value="pa" th:selected="${orgs.state =='PA'}">PA</option>
                            <option value="ri" th:selected="${orgs.state =='RI'}">RI</option>
                            <option value="sc" th:selected="${orgs.state =='SC'}">SC</option>
                            <option value="sd" th:selected="${orgs.state =='SD'}">SD</option>
                            <option value="tn" th:selected="${orgs.state =='TN'}">TN</option>
                            <option value="tx" th:selected="${orgs.state =='TX'}">TX</option>
                            <option value="ut" th:selected="${orgs.state =='UT'}">UT</option>
                            <option value="vt" th:selected="${orgs.state =='VT'}">VT</option>
                            <option value="va" th:selected="${orgs.state =='VA'}">VA</option>
                            <option value="wa" th:selected="${orgs.state =='WA'}">WA</option>
                            <option value="wv" th:selected="${orgs.state =='WV'}">WV</option>
                            <option value="wi" th:selected="${orgs.state =='WI'}">WI</option>
                            <option value="wy" th:selected="${orgs.state =='WY'}">WY</option>
                        </select>

                        <div class="form-group">
                            <label class="w3-text-green" for="zip"><b>Zip</b></label>
                            <input width="25" class="w3-input w3-border w3-sand validate" id="zip" th:field="*{zip}" th:value="${orgs.zip}">
                        </div>

                        <div class="form-group">
                            <label class="w3-text-green" for="phone"><b>Phone</b></label>
                            <input width="25" class="w3-input w3-border w3-sand validate" id="phone" th:field="*{phone}" th:value="${orgs.phone}">
                            <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                        </div>

                        <div class="form-group">
                            <label class="w3-text-green" for="email"><b>Email</b></label>
                            <input width="25" class="w3-input w3-border w3-sand validate" th:type="email" id="email" th:field="*{email}" th:value="${orgs.email}">
                            <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>

                        <p>
                            <button class="w3-btn w3-green" type="submit" name="sendCreate">Update</button>
                        </p>
                    </div>
                </form>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/modal.js}"> </script>
    </body>
    <div>
        <footer th:replace="partials/footer.html :: footer"></footer>
    </div>
</html>