<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:replace="partials/header.html :: header"/>
        <title>Show Organization</title>
    </head>
    <body class="createBody">
        <nav th:replace="partials/navbar.html :: navbar"></nav>

<!--        <div class="wrapper">-->
<!--            <div id="myModal" class="modal">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h2 id="modalHeader">Search for Organizations and Events</h2>-->
<!--                        <span class="close">&times;</span>-->
<!--                    </div>-->
<!--                    <form th:action="@{/search}" method="post">-->
<!--                        <div class="d-flex align-items-center b-0">-->
<!--                            <label for="search-params"></label><select class="nosir" id="search-params" name="search-params">-->
<!--                            <option value="2">Organizations</option>-->
<!--                            <option value="1">Events</option>-->
<!--                        </select>-->
<!--                            <label for="query"></label><input class="nosir mx-2" id="query" name="query" type="text"-->
<!--                                                              placeholder="Search"/>-->
<!--                            <button class="btn-hover color-9 m-0" type="submit" value="submit">Search</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="card-5" th:object="${org}">

            <div class="organizationHeader">
                <h3 class="m-0" th:text="${org.getOrgName()}"></h3>
            </div>
            <div class="eventBodyCard">
                <p class="eventText" th:text="${org.getAddress()}"></p>
                <p class="eventText" th:text="${org.getCity() + ', ' + org.getState().toUpperCase() + ' ' + org.getZip()}"></p>
                <p class="eventText" th:text="${org.getPhone()}"></p>
                <p class="eventText m-0" th:text="${org.getEmail()}"></p>
            </div>
            <div th:if="${isOrgOwner}">
                <div class="eventBodyCard">
                    <a th:href="@{/event/create}"><button class="btn-hover color-5">Create Event</button></a>
                </div>
            </div>
        </div>
        <div th:name="id" th:value="${org.id}" class="card-4 eventBodyCard">
            <h3 class="organizationHeader m-0">Events</h3>
            <!-- Displays all events linked to org with links-->
            <div th:if="${noEvnt}">
               <p class="text-black text-center" th:text="${events}"></p>
            </div>
            <div th:if="${!noEvnt}" th:each="event : ${events}">
                <a th:href="@{/event/{id}/show(id=${event.id})}"><p class="text-black text-center m-auto" th:text="${event.title}"></p></a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/js/modal.js}"> </script>
    </body>
    <div>
        <footer th:replace="partials/footer.html :: footer"></footer>
    </div>
</html>