<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <form action="/event/create" th:action="@{/event/create}" method="post" th:object="${event}">

<!--            Pre-populated Organization name-->
            <div class="form-group">
                <label for="orgName">Organization Name:</label>
                <input id="orgName" th:field="*{org_name}" th:value="org_name" th:object="orgs" disabled>
            </div>

<!--            Pre-populated Event Coordinator name-->
            <div class="form-group">
                <label for="eCoord">Event Coordinator:</label>
                <input id="eCoord" th:field="*{eCoord}" th:value="user.getFirstName" disabled>
            </div>


            <div class="form-group">
                <label for="phone">City:</label>
                <input id="phone" th:field="*{phone}">
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>
            <div class="form-group">
                <label for="zip">Zip:</label>
                <input id="zip" th:field="*{zip}">
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></p>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input id="phone" th:field="*{phone}" />
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input th:type="email" id="email" th:field="*{email}" />
                <p class="font-weight-bold text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <button type="submit" name="sendCreate">Submit</button>
        </form>
    </body>
</html>