<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer All Events</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>

    <div th:each="event: ${events}">
    <h2 th:text="${event.getTitle()}"></h2>
    <p th:text="${event.getDescription()}"></p>
    <p th:text="${event.getUser()}"></p>
    <p th:text="${event.getPhone()}"></p>
    <p th:text="${event.getDate()}"></p>
    <p th:text="${event.getTime()}"></p>
    <p th:text="${event.getLocation()}"></p>
    <p th:text="${event.getHours()}"></p>
    <p th:text="${event.getLength()}"></p>
</div>

</body>
</html>