<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head><title>Top-Teer All Events</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div th:each="event: ${events}" class="card">
    <h2 class="titles"><a th:text="${event.getTitle()}" class="titles" th:href="@{/event/{id}/show (id= ${event.getOrg().getId()})}"></a></h2>
    <p th:text="${'Description: ' + event.getDescription()}"></p>
    <p th:text="${'Coordinator name: ' + event.getUser().getFirstName()}"></p>
    <p th:text="${'Phone Number: ' + event.getPhone()}"></p>
    <p th:text="${'Date: ' + event.getDate()}"></p>
    <p th:text="${'Time: ' + event.getTime()}"></p>
    <p th:text="${'Location: ' + event.getLocation()}"></p>
    <p th:text="${'Length: ' + event.getLength()}"></p>
    <p th:text="${'Minimum Volunteer Hours: ' + event.getHours()}"></p>

</div>

</body>
</html>