<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Event</title>
        <link th:replace="partials/header.html :: header"/>
    </head>
    <body>
        <nav th:replace="partials/navbar.html :: navbar"></nav>
        <div th:object="${event}" class="card">
            <h3 class="titles" th:text="${event.getTitle().toUpperCase()}"></h3>
            <p th:text="${'Event Description: ' + event.description}"></p>
            <p th:text="${'Event Coordinator: ' + event.getUser().getFirstName()}"></p>
            <p th:text="${'Phone: ' + event.phone}"></p>
            <p th:text="${'Event Date: ' + event.date}"></p>
            <p th:text="${'Event Time: ' + event.time}"></p>
            <p th:text="${'Event Location: ' + event.location}"></p>
            <p th:text="${'Event Length: ' + event.length}"></p>
            <p th:text="${'Volunteer hours options: ' + event.hours}"></p>
            <form th:if="${isEventOwner}" th:action="@{/event/{id}/delete(id = ${event.id})}" method="post" th:object="${event}">
                <button class="card-link" type="submit" th:value="*{id}" name="deleteEvent">Delete</button>
            </form>

        </div>
    </body>
</html>