h1
{
    font-size: 100px;
    color: black;
    display: inline;
    text-align: center;
    alignment: center;


}
#quote
{
    width: auto;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    font-size: 30px;
}