h1
{
    font-size: 100px;
    color: black;
    display: inline;
    text-align: center;
    alignment: center;


}
#quote
{
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: solid black;
    margin: 10px;
    font-size: 30px;
}

.wrapper {
    min-height: calc(100vh - 110px);
}