<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
    <link th:replace="partials/header.html :: header"/>
</head>
<body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2><img src="../../static/img/Top-TeerLogo-BlackOnWhite.png" th:src="@{/img/Top-TeerLogo-BlackOnWhite.png}" height="8%" width="8%" alt="The Logo">TOP-TEER INC.</h2>
            </div>
            <div class="col-md-3">
                <h2><a href="https://github.com/topteer/topteer-capstone" class="nav-link" target="_blank"><i class="fa fa-github fa-lg"></i> Repository</a></h2>
            </div>
            <div class="col-md-3">
                <h2 class="text-md-right"><a href="mailto:tTeerCom@gmail.com">Contact us</a></h2>
            </div>
            <div class="col-md-3">
                <div class="container facebook-800-text">
                    Codeup 2021. For educational purposes only.
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>