<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Footer</title>
    <link th:replace="partials/header.html :: header"/>
</head>
<body>

<footer class="footer">
    <div class="container p-0 m-0 w-100 justify-content-evenly">
        <div class="m-0 w-100 d-flex p-0 justify-content-between">
            <div class="d-flex justify-content-between align-items-center p-0 m-0">
                <h6 class="p-0 m-0"><img src="../../static/img/Top-TeerLogo-BlackOnWhite.png" th:src="@{/img/Top-TeerLogo-BlackOnWhite.png}" height="34.3px" width="40px" alt="The Logo"><a href="#top">TOP</a>-TEER INC.</h6>
            </div>
            <div class="d-flex justify-content-center align-items-center p-0 m-0">
                <h6 class="p-0 m-0"><a href="https://github.com/topteer/topteer-capstone" class="nav-link p-0 m-0" target="_blank"><i class="fa fa-github fa-lg"></i> Repository</a></h6>
            </div>
            <div class="d-flex justify-content-center align-items-center p-0 m-0">
                <h6 class="text-md-right m-0 p-0"><a href="mailto:tTeerCom@gmail.com">Contact us</a></h6>
            </div>
            <div class="d-flex justify-content-center align-items-center p-0 m-0">
                <div class="container facebook-800-text p-0 m-0">
                    <h6>Codeup 2021. For educational purposes only.</h6>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>

