
    <th:block th:fragment="header">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">

        <link rel="stylesheet" th:href="@{main.css}" type="text/css" />
        <style>
            body {margin: 0; position: sticky;}

            ul.topnav {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #000;
            }

            ul.topnav li {float: left;}

            ul.topnav li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            ul.topnav li a:hover:not(.active) {background-color: #111;}

            ul.topnav li a.active {background-color: #808080;}

            ul.topnav li.right {float: right;}

            @media screen and (max-width: 600px) {
                ul.topnav li.right,
                ul.topnav li {float: none;}
            }
        </style>

    </th:block>
