<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head><title></title></head>
<body>
<nav th:fragment="navbar">
    <ul class="topnav">
        <li><a class="active" th:href="@{/}">Home</a></li>
        <li sec:authorize="!isAuthenticated()" ><a th:href="@{/register}">Register</a></li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/login}">Log-in</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn nav-link">Logout</button>
            </form>
        </li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/event}">All Events</a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/organizations}">All Organizations</a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/users/profile}">Profile</a></li>
        <img src="../../static/img/Top-TeerLogo-BlackOnWhite.png" th:src="@{/img/Top-TeerLogo-BlackOnWhite.png}" height="3%" width="3%" alt="The Logo"/>
        <li class="right"><a th:href="@{/about-us}">About Us</a></li>
        <li>
            <!--            ======== search modal ======= -->

            <div id="search-modal">
                <div>
                    <div>
                        <h3>What do you want to search?</h3>
                        <form th:action="@{/search}" method="post">
                            <div>
                                <p>Search Options</p>
                                <select id="search-params" name="search-params">
                                    <option value="2">Organizations</option>
                                    <option value="1">Events</option>
                                </select>
                            </div>
                            <div>
                                <input id="query" name="query" type="text" />
                                <label for="query">Query</label>
                            </div>
                            <button type="submit" value="submit">Search</button>
                        </form>
                    </div>
                </div>

        </li>
    </ul>
</nav>
</body>
</html>
