<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body class="main">
<main class="container">
    <div>
        <div>
            <h3>Edit User Details</h3>

            <form id="register-form" action="" th:action="@{/users/edit}" method="post" th:object="${user}">
                <input id="id" name="id" type="hidden" th:field="${user.id}" />
                <div>
                    <div>
                        <input id="firstName" name="firstName" type="text" class="validate" th:field="${user.firstName}" />
                        <label for="firstName">First name</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="lastName" name="lastName" type="text" class="validate" th:field="${user.lastName}" />
                        <label for="lastName">Last name</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="username" name="username" type="text" class="validate" th:field="${user.username}" />
                        <label for="username">Username</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="email" name="email" type="email" class="validate" th:field="${user.email}" />
                        <label for="email">Email</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="password" name="password" type="password" class="validate" />
                        <label for="password">Password</label>
                    </div>
                </div>
                <div>
                    <div>
                        <input id="password-confirm" name="password-confirm" type="password" class="validate" />
                        <label for="password-confirm">Confirm Password</label>
                    </div>
                </div>
                <button type="submit" id="submit" value="submit">Submit</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>