<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><title>Edit Profile</title>
    <link th:replace="partials/header.html :: header"/>
</head>


<body class="formBody">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="theContainer">
    <div class="contentWrap">
        <div class="wrapper">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 id="modalHeader">Search for Organizations and Events</h2>
                        <span class="close">&times;</span>
                    </div>
                    <form th:action="@{/search}" method="post">
                        <div class="d-flex align-items-center b-0">
                            <label for="search-params"></label><select class="nosir" id="search-params"
                                                                       name="search-params">
                            <option value="2">Organizations</option>
                            <option value="1">Events</option>
                        </select>
                            <label for="query"></label><input class="nosir mx-2" id="query" name="query" type="text"
                                                              placeholder="Search"/>
                            <button class="btn-hover color-9 m-0" type="submit" value="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <main class="container">

            <div class="w3-card-4 w3-margin-center w3-round-xlarge">
                <div class="w3-center w3-orange w3-border">
                    <h2>Edit Your Profile</h2>
                </div>


                <form class="w3-center container w3-white w3-border" id="register-form" action=""
                      th:action="@{/users/edit}" method="post" th:object="${user}">
                    <input id="id" name="id" type="hidden" th:field="${user.id}">

                    <div class="form-group">
                        <label class="w3-text-orange" for="firstName"><b>First Name</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="firstName" name="firstName"
                               type="text" th:field="${user.firstName}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-orange" for="lastName"><b>Last Name</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="lastName" name="lastName"
                               type="text" th:field="${user.lastName}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-orange" for="username"><b>Username</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="username" name="username"
                               type="text" th:field="${user.username}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-orange" for="email"><b>Email</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="email" name="email"
                               type="email" th:field="${user.email}">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-orange" for="password"><b>Password</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="password" name="password"
                               type="password">
                    </div>

                    <div class="form-group">
                        <label class="w3-text-orange" for="password-confirm"><b>Confirm Password</b></label>
                        <input width="25" class="w3-input w3-border w3-sand validate" id="password-confirm"
                               name="password-confirm" type="password">
                    </div>

                    <p>
                        <button class="w3-btn w3-orange center eventText" type="submit" name="sendCreate">Update
                        </button>
                    </p>

                </form>
            </div>

        </main>
    </div>
    <footer th:replace="partials/footer.html :: footer"></footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
</body>
</html>