<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer Log-in</title>
    <link th:replace="partials/header.html :: header"/>
</head>


<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">

    <img src="../static/img/welcome.png" class="center" th:src="@{/img/welcome.png}" alt="welcomeBack"/>
    <p id="greeting">Thank you for contributing to the good of society! You are what drives us.</p>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="coolButton loginButton btn-block">Click Here To Login</button>

    <div id="id01" class="modal">
        <form class="modal-content animate" th:action="@{/login}" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../img/top-teer-logo.png" alt="Avatar" class="avatar">
            </div>

                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input id="username" name="username" class="form-control" type="text" maxlength="60" autofocus required>

                    <label for="password"><b>Password</b></label>
                    <input id="password" name="password" class="form-control" type="password" maxlength="60" required>

                    <button type="submit" class="coolButton">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>
</div>

<!--<div class="container">-->
<!--    -->
<!--    <h2>Log In</h2>-->
<!--    <div th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--    </div>-->
<!--    <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->
<!--    <form th:action="@{/login}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="username">Username</label>-->
<!--            <input id="username" name="username" class="form-control" type="text" maxlength="60" autofocus required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input id="password" name="password" class="form-control" type="password" maxlength="60" required>-->
<!--        </div>-->
<!--        <input type="submit" class="btn btn-primary btn-block" value="Log In">-->
<!--    </form>-->
<!--</div>-->

</body>
</html>