<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer Log-in</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="loginBody">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="theContainer">
    <div class="contentWrap">
        <div class="wrapper">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Search for Organizations and Events</h2>
                        <span class="close">&times;</span>
                    </div>
                    <form th:action="@{/search}" method="post">
                        <div class="b-0">
                            <label for="search-params"></label><select class="nosir" id="search-params" name="search-params">
                            <option value="2">Organizations</option>
                            <option value="1">Events</option>
                        </select>
                            <label for="query"></label><input class="nosir mx-2" id="query" name="query" type="text"
                                                              placeholder="Search"/>
                            <button class="btn-hover color-9 m-0" type="submit" value="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">

            <img src="../static/img/welcome.png" class="center" th:src="@{/img/welcome.png}" alt="welcomeBack"/>
            <p id="greeting">Thank you for contributing to the good of society! You are what drives us.</p>

        </div>

        <div class="card-4">
            <div class="userHeader">
                <h2>Log In</h2>
            </div>

            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div class="m-0 eventBodyCard" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="eventBodyCard" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label class="eventText" for="username">Username</label>
                    <input class="input" id="username" name="username" type="text"
                           maxlength="60" autofocus required>
                </div>
                <div class="form-group">
                    <label class="eventText" for="password">Password</label>
                    <input class="input" id="password" name="password" type="password"
                           maxlength="60" required>
                </div>
                <button class="btn-hover color-7" type="submit">Log In</button>
            </form>
        </div>
    </div>
    <footer th:replace="partials/footer.html :: footer"></footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"></script>
</body>
</html>