<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer Register an Account</title>
	<link th:replace="partials/header.html :: header"/>
</head>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<body class="formBody">
<div class="container">

	<div class="w3-card-4 w3-margin-center w3-round-xlarge">
		<div class="userHeader">
			<h2 class="m-0">Create An Account</h2>
		</div>
		<div class="eventBody">
			<form th:action="@{/register}" method="POST" th:object="${user}">
				<p class="eventText">
					<label>First Name</label>
					<input width="25" class="w3-input w3-border mx-2" name="first" type="text" placeholder="First Name"
						   id="firstname" th:field="*{firstName}"/></p>
				<p class="eventText">
					<label>Last Name</label>
					<input class="w3-input w3-border mx-2" name="last" type="text" placeholder="Last Name" id="lastname"
						   th:field="*{lastName}"/></p>
				<p class="eventText">
					<label>Username</label>
					<input class="w3-input w3-border mx-2" name="last" type="text" placeholder="Username" id="username"
						   th:field="*{username}"/></p>
				<p class="eventText">
					<label>Email</label>
					<input class="w3-input w3-border mx-2" name="last" type="text" placeholder="Email" id="email"
						   th:field="*{email}"/></p>
				<p class="eventText">
					<label>Password</label>
					<input class="w3-input w3-border mx-2" name="password" type="password" placeholder="Password"
						   id="password" minlength="6" th:field="*{password}"/></p>
				<p class="eventText">
					<label>Confirm Password</label>
					<input class="w3-input w3-border" name="password-confirm" type="password"
						   placeholder="Confirm Password" id="password-confirm" minlength="6"/></p>
				<p>
					<button class="btn-hover color-9 eventText">Register</button>
				</p>
			</form>
		</div>
	</div>
</div>
</body>
<div>
	<footer th:replace="partials/footer.html :: footer"></footer>
</div>
</html>