.container {
    font-weight: bold;
}

.formBody {
    background-image: url('../img/hands.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Create event*/
.createBody {
    background-image: url('../img/hands.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


.w3-card-4{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 100px;
}