.container {
    font-weight: bold;
}

.formBody {
    background-image: url('../img/hands.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Create event*/
.createBody {
    background-image: url('../img/hands.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.resultCard {
    height: 440px;
    width: 1000px;
    overflow: auto;
    position: relative;
    margin-left: -250px;
    margin-top: 150px;
}


.w3-card-4{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 100px;
}