@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

h1
{
    font-size: 200px;
    color: black;
    display: inline;
    text-align: center;
}

.profileH3 {
    background-color: rgb(126,132,247);
    color: black;
}

.checkbox{
    vertical-align: middle;
}

.profileColor {
    color: #6253e1;
}

.topnav {
    background-color: black;
    height: 60px;
}

.fa-search {
margin-top: 14px;
    margin-left: 8px;
    color: white;
    font-size: 25px;
}

#quote
{
    width: auto;
    font-size: 15px;
    color: black;
    justify-content: center;
    text-align: center;
}



/*.titles{*/
/*    background: lightblue;*/
/*    width: 75%;*/
/*    text-align: center;*/
/*    color: black;*/
/*}*/

/*.descriptions {*/
/*    background: white;*/
/*    width: 75%;*/
/*    text-align: center;*/
/*    color: black;*/
/*}*/

/*.card{*/
/*    margin: 10px;*/
/*    display: flex;*/
/*    width: 45vw;*/
/*    height: fit-content;*/
/*    border: none;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: larger;*/
/*}*/



.homeBody {
    background-image: url('../img/hands2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#intro {
    /*font-weight: bold;*/
    font-size: x-large;
    text-align: center;
    padding:0;
    position:relative;
    background: rgba(237, 244, 248, 0.8);
    border-radius: 5%;
    border: whitesmoke 5px;
    margin-bottom: 0;
}


.loginBody {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/hands2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profileBody {
    background-image: url('../img/hands2.png');
    /*background-image: url('../../static/img/hands2.png');*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#greeting {
    font-weight: bold;
    text-align: center;
}

.footer {
    position:absolute;bottom:0;left:auto;right:auto;height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
        margin-bottom: 300px;
    }
    .footer {
        height: 10%;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: black;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration:none;
}



.welcomeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.loginButton {
    font-size: xx-large;
    padding: 60px 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}



/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*====== about us css =========*/

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

:root {
    --gradient: linear-gradient(to left top, lightblue 10%, dodgerblue 90%) !important;
}

.aboutUsBody {
    background-image: url('../img/blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*.cardAboutMe {*/
/*    background: #222;*/
/*    border: 1px solid cornflowerblue;*/
/*    color: rgba(250, 250, 250, 0.8);*/
/*    margin-bottom: 2rem;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/

.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover, .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.bio {
    font-size: small;
}

.input{
    width: 99%;
    padding: 2px;
    margin: 2px;
}

.eventsHeaderEvent{
    background-color: rgb(183, 132, 188);
    text-align: center;
}
.eventBody{
    background: white;
    color: black;
    height: min-content;
    margin-bottom: 110px;
}
.eventBodyCard{
    background: white;
    color: black;
    text-align: center;
}

.eventText{
    color:black;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    margin: 0 5px;
}

.organizationHeader{
    background-color: rgb(162, 190, 134);
    text-align: center;
}

.userHeader{
    background-color: rgb(126, 132, 247);
    text-align: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 250px; /* Full width */
    height: 250px; /* Full height */
    overflow: no-content; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c',"Times New Roman", Times, serif;
}

.layer1_class {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: visible;
}
.layer2_class {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    visibility: hidden
}
.hidden{
    display: none;
}
@font-face {
    font-family: 'M PLUS Rounded 1c', 'phenomenalight';
    src: url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
    src: url('https://top-teer-capstone/src/main/resources/static/css/main.css/phenomena-light-webfont.eot') format('woff2'),
    url('https://top-teer-capstone/src/main/resources/static/css/main.css/phenomena-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}