<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>About Us</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="container">

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--            <h3>Meet The Team</h3>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container mx-auto mt-4">
        <div class="row">

            <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Evan.jpeg" class="card-img-top" alt="..." th:src="@{/img/Evan.jpeg}"/>
                        <div class="card-body mx-auto">
                            <h5 class="card-title">Evan Williams</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Back-end</h6>
                            <p class="card-text bio">Marine Corps. Veteran with a passion for science, innovation, and technology. Desire to take part in the development of modern technology.
                                <br>
                                <br>
                            </p>
                            <a href="https://www.linkedin.com/in/evanwilliams75/" class="btn mr-2 btn-block" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i>LinkedIn</a>
                            <a href="https://github.com/evanwilliamsC137" class="btn btn-block" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Jeff.jpeg" class="card-img-top" alt="..." th:src="@{/img/Jeff.jpeg}"/>
                        <div class="card-body mx-auto">
                            <h5 class="card-title">Jeffrey Rowe</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Back-end</h6>
                            <p class="card-text bio">Software developer and Retired US Army Senior Non-Commissioned Officer with over 16 years of experience in leadership, training and personnel recruiting.</p>
                            <a href="https://www.linkedin.com/in/jeffrowe58/" class="btn mr-2 btn-block" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i>LinkedIn</a>
                            <a href="https://github.com/jeffRowe58" class="btn btn-block" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Joseph.jpeg" class="card-img-top" alt="..." th:src="@{/img/Joseph.jpeg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Joseph Hopkins</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Back-end/Designer</h6>
                            <p class="card-text bio">I served 6 years in the United States Marine Corps as a military police K9 handler. I decided that a career in web and software development would allow me to continually grow.</p>
                            <a href="https://www.linkedin.com/in/joseph-r-hopkins/" class="btn mr-2 btn-block" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i>LinkedIn</a>
                            <a href="https://github.com/JosephRHopkins88" class="btn btn-block" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Luke.jpeg" class="card-img-top" alt="..." th:src="@{/img/Luke.jpeg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Luke Curran</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Back-end</h6>
                            <p class="card-text bio">I've spent 10 years as a Water Softener Technician and hope to transition successfully into web stack development.
                                <br>
                                <br>
                                <br>
                            </p>
                            <a href="https://www.linkedin.com/in/luke-curran-ba9926211/" class="btn mr-2 btn-block" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i>LinkedIn</a>
                            <a href="https://github.com/lukepetercurran" class="btn btn-block" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/Roger.jpeg" class="card-img-top" alt="..." th:src="@{/img/Roger.jpeg}"/>
                        <div class="card-body">
                            <h5 class="card-title">Roger Sandoval</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Designer</h6>
                            <p class="card-text bio">Spent most of my life as a barista serving up smiles. My career transition stems from self-taught programming building simple websites and computer games.
                            </p>
                            <a href="https://www.linkedin.com/in/rogeliosandoval/" class="btn mr-2 btn-block" target="_blank" rel="noopener noreferrer"><i class="fas fa-link"></i>LinkedIn</a>
                            <a href="https://github.com/rogeliosandoval" class="btn btn-block" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
                        </div>
                    </div>
            </div>

            <div class="container w-100">
                <div class="card w-100">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img src="../static/img/Top-TeerLogo-BlackOnWhite.png" width="150" height="175" alt="..." th:src="@{/img/Top-TeerLogo-BlackOnWhite.png}"/>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Top-Teer</h4>
                            <p class="card-text">Top-Teer is an event coordinating application that puts volunteers in touch with opportunities led by the event coordinator. Making the process of volunteering in the community more accessible to application users. Top-Teer was created using Spring Boot, Spring Boot Security, Java, Javascript, MySql, HTML, CSS, Bootstrap.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">For educational purposes.</small>
                    </div>
                </div>
            </div>

    </div>
</div>


</body>
</html>