<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>About Us</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="aboutUsBody">
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="wrapper">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalHeader">Search for Organizations and Events</h2>
                <span class="close">&times;</span>
            </div>
            <form th:action="@{/search}" method="post">
                <div class="d-flex align-items-center b-0">
                    <label for="search-params"></label><select class="nosir" id="search-params" name="search-params">
                    <option value="2">Organizations</option>
                    <option value="1">Events</option>
                </select>
                    <label for="query"></label><input class="nosir mx-2" id="query" name="query" type="text"
                                                      placeholder="Search"/>
                    <button class="btn-hover color-9 m-0" type="submit" value="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<img src="../static/img/meet.png" class="welcomeImage" th:src="@{/img/meet.png}" alt="aboutUs"/>

<div class="container">

    <div class="container mx-auto">
        <div class="row text-center mx-auto d-flex justify-content-center">

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Evan.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Evan Williams</h5><span class="small text-uppercase text-muted">Back-End</span>
                    <h6 class="bio">Marine Corps. Veteran with a passion for science, innovation, and technology</h6>
                    <br>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="mailto: evan.b.williams95@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/evanwilliamsC137" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/evanwilliams75/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Jeff.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Jeffrey Rowe</h5><span class="small text-uppercase text-muted">Back-End</span>
                    <h6 class="bio">Software developer and Retired US Army Senior Non-Commissioned Officer</h6>
                    <br>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="mailto: jeffrey.r.rowe58@@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/jeffRowe58" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jeffrowe58/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Joseph.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Joseph Hopkins</h5><span class="small text-uppercase text-muted">Back-End/Designer</span>
                    <h6 class="bio">Software developer and ex military police K9 handler in the U.S. Marine Corps</h6>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="mailto: josephrhopkins88@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/JosephRHopkins88" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/joseph-r-hopkins/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Luke.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Luke Curran</h5><span class="small text-uppercase text-muted">Back-End</span>
                    <h6 class="bio">Ex Water Softener Technician for 10 years now transitioned to a software developer</h6>
                    <br>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="mailto: luke.peter.curran54@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/lukepetercurran" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/luke-curran-ba9926211/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Roger.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Roger Sandoval</h5><span class="small text-uppercase text-muted">Designer</span>
                    <h6 class="bio">Spent most of my life as a barista serving up smiles. Now I'm a software developer</h6>
                    <br>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="mailto: rogelio.g.sandoval@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/rogeliosandoval" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/rogeliosandoval/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"> </script>
</body>

<div>
    <footer th:replace="partials/footer.html :: footer"></footer>
</div>
</html>