<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>About Us</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="aboutUsBody">
<nav th:replace="partials/navbar.html :: navbar"></nav>

<img src="../static/img/meet.png" class="welcomeImage" th:src="@{/img/meet.png}" alt="aboutUs"/>

<div class="container">

    <div class="container mx-auto">
        <div class="row text-center mx-auto d-flex justify-content-center">

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Evan.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h3 class="mb-0" style="font-size: 20px">Evan Williams</h3><span class="small text-uppercase text-muted">Back-End</span>
                    <p class="bio"><h6>Marine Corps. Veteran with a passion for science, innovation, and technology.</h6></p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1130" target="_blank" class="social-link"><i class="fa fa-graduation-cap"></i></a></li>
                        <li class="list-inline-item"><a href="mailto: evan.b.williams95@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/evanwilliamsC137" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/evanwilliams75/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Jeff.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h3 class="mb-0" style="font-size: 20px">Jeffrey Rowe</h3><span class="small text-uppercase text-muted">Back-End</span>
                    <p class="bio"><h6>Software developer and Retired US Army Senior Non-Commissioned Officer.</h6></p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1124" target="_blank" class="social-link"><i class="fa fa-graduation-cap"></i></a></li>
                        <li class="list-inline-item"><a href="mailto: jeffrey.r.rowe58@@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/jeffRowe58" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jeffrowe58/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Joseph.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h3 class="mb-0" style="font-size: 20px">Joseph Hopkins</h3><span class="small text-uppercase text-muted">Back-End</span>
                    <p class="bio"><h6>Software developer and former military police K9 handler in the U.S. Marine Corps.</h6></p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1119" target="_blank" class="social-link"><i class="fa fa-graduation-cap"></i></a></li>
                        <li class="list-inline-item"><a href="mailto: josephrhopkins88@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/JosephRHopkins88" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/joseph-r-hopkins/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Luke.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h3 class="mb-0" style="font-size: 20px">Luke Curran</h3><span class="small text-uppercase text-muted">Back-End</span>
                    <p class="bio"><h6>Ex Water Softener Technician for 10 years now transitioned to a software developer.</h6></p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1129" target="_blank" class="social-link"><i class="fa fa-graduation-cap"></i></a></li>
                        <li class="list-inline-item"><a href="mailto: luke.peter.curran54@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/lukepetercurran" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/luke-curran-ba9926211/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-2 col-sm-6 mb-5">
                <div class="border border-primary bg-light rounded shadow-sm py-5 px-4"><img src="../img/Roger.jpeg" alt="" height="200px" width="200px" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h3 class="mb-0" style="font-size: 20px">Roger Sandoval</h3><span class="small text-uppercase text-muted">Designer</span>
                    <p class="bio"><h6>Spent most of my life as a barista serving up smiles. Now I'm a software developer.</h6></p>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://alumni.codeup.com/students/1126" target="_blank" class="social-link"><i class="fa fa-graduation-cap"></i></a></li>
                        <li class="list-inline-item"><a href="mailto: rogelio.g.sandoval@gmail.com" class="social-link"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/rogeliosandoval" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/rogeliosandoval/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!-- End -->
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/modal.js}"> </script>
</body>

<div>
    <footer th:replace="partials/footer.html :: footer"></footer>
</div>
</html>