<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head><title>Top-Teer Home Page</title>
    <link th:replace="partials/header.html :: header"/>
</head>

<body class="main">
<nav th:replace="partials/navbar.html :: navbar"></nav>


<main>

    <h1>Top</h1>
    <img src="../static/img/volunteer-hands.jpeg" th:src="@{/img/volunteer-hands.jpeg}" width="400" height="125" alt="Hands of Volunteer"/>
    <h1>Teer</h1>

    <div class="row">
        <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" placeholder="Organization" />
            <label for="title"></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="body" name="body" class="validate" placeholder="State">
            <label for="body"></label>
        </div>
    </div>
    <button type="submit" value="submit">Search</button>

    <p id="quote"></p>

    <h4>Test links to pages in progress</h4>
    <ul>
        <li><a th:href="@{/organization/create}">Create Org(*)</a></li>
        <li><a th:href="@{/organization/1/edit/}">Edit Org 1(*)</a></li>
    </ul>



</main>
<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>